.sprite-fire01 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -0px -0px;
 }
 .sprite-fire02 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -500px -0px;
 }
 .sprite-fire03 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1000px -0px;
 }
 .sprite-fire04 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1500px -0px;
 }
 .sprite-fire05 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2000px -0px;
 }
 .sprite-fire06 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2500px -0px;
 }
 .sprite-fire07 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -0px -281px;
 }
 .sprite-fire08 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -500px -281px;
 }
 .sprite-fire09 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1000px -281px;
 }
 .sprite-fire10 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1500px -281px;
 }
 .sprite-fire11 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2000px -281px;
 }
 .sprite-fire12 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2500px -281px;
 }
 .sprite-fire13 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -0px -562px;
 }
 .sprite-fire14 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -500px -562px;
 }
 .sprite-fire15 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1000px -562px;
 }
 .sprite-fire16 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1500px -562px;
 }
 .sprite-fire17 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2000px -562px;
 }
 .sprite-fire18 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2500px -562px;
 }
 .sprite-fire19 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -0px -843px;
 }
 .sprite-fire20 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -500px -843px;
 }
 .sprite-fire21 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1000px -843px;
 }
 .sprite-fire22 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1500px -843px;
 }
 .sprite-fire23 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2000px -843px;
 }
 .sprite-fire24 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2500px -843px;
 }
 .sprite-fire25 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -0px -1124px;
 }
 .sprite-fire26 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -500px -1124px;
 }
 .sprite-fire27 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1000px -1124px;
 }
 .sprite-fire28 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -1500px -1124px;
 }
 .sprite-fire29 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 281px;
     width: 500px;
     background-position: -2000px -1124px;
 }
 