:root {
    --color-background: #1a202c;
    --color-background-secondary: #2d3748;
    --color-primary: #ecc94b;
    --color-primary-hover: #d69e2e;
    --color-secondary: #48bb78;
    --color-secondary-hover: #38a169;
    --color-text: #ffffff;
    --color-border: #4a5568;

    --container-max-width: 1000px;
    --wheel-section-size: min(88dvw, calc(66dvh - 4rem), 660px);
    --logo-max-width: 40%;

    --sprite-frame-size: calc(var(--wheel-section-size) * 0.63);
    --win-text-size: calc(var(--wheel-section-size) * 0.08);

    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    --border-radius-sm: 0.375rem;
    --border-radius-full: 9999px;

    --globs-size: calc(var(--wheel-section-size) * 0.1);

    --ios-landscape-vh: 1vh;
}
